In [1]:
# import the libraries
import pandas as pd
import numpy as np

In [2]:
#step2 - Reading the dataset
dataset = pd.read_csv("Churn_Modelling.csv")

In [3]:
type(dataset)

pandas.core.frame.DataFrame

In [4]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [5]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,225,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,629,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,619,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,43,2,134603.88,1,1,1,71725.73,0

In [6]:
dataset['Geography'].fillna(dataset['Geography'].mode()[0],inplace = True)
dataset['Age'].fillna(dataset['Age'].mean(),inplace = True)
dataset['Balance'].fillna(dataset['Balance'].median(),inplace = True)

In [7]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [8]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,225,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,629,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,619,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,43,2,134603.88,1,1,1,71725.73,0

In [9]:
p = dataset['Geography'].mode()

In [10]:
p

0    France
dtype: object

In [11]:
p[0]

'France'

In [12]:
dataset['Geography'].mode()[0]

'France'

linear regtession algorithm
y = mx+c
y  = 0.1*3 + 4
y = 4.3 
output y = 4.3

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['Geography'] = le.fit_transform(dataset['Geography'])
# - 0 --some
# - 1 some 
# - 2 somee

In [14]:
dataset['Gender'] = le.fit_transform(dataset['Gender'])

#mee - 1
#female -0

In [15]:
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,225,2,0,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,629,0,0,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,2,0,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,2,1,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,619,0,1,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,1,0,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,0,1,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,0,1,43,2,134603.88,1,1,1,71725.73,0

india - 2
japan  - 3
switze -4
germany -1
australia - 0

In [16]:
x = dataset.iloc[:,3:13].values

In [17]:
y = dataset.iloc[:,13].values

In [18]:
x

array([[6.1900000e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [2.2500000e+02, 2.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [6.2900000e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [7.0900000e+02, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [7.7200000e+02, 1.0000000e+00, 1.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [7.9200000e+02, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [19]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [20]:
type(y)

numpy.ndarray

In [21]:
x.shape

(10000, 10)

In [22]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder()
z = one.fit_transform(x[:,1:2]).toarray()

C:\Users\prads\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [23]:
x = np.delete(x,1,axis = 1)
x

array([[6.1900000e+02, 0.0000000e+00, 4.2000000e+01, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [2.2500000e+02, 0.0000000e+00, 4.1000000e+01, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [6.2900000e+02, 0.0000000e+00, 4.2000000e+01, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [7.0900000e+02, 0.0000000e+00, 3.6000000e+01, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [7.7200000e+02, 1.0000000e+00, 4.2000000e+01, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [7.9200000e+02, 0.0000000e+00, 2.8000000e+01, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [24]:
x = np.concatenate((z,x),axis = 1)

In [25]:
z

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

more number of one hot encoding vvalue 
z =  one.fit_transform(x[:,3:4]).toarray()
t =  one.fit_transform(x[:,5:6]).toarray()
u =  one.fit_transform(x[:,9:10]).toarray()
x = np.delete(x,[3,5,9],axis = 1)
x = np.concatenate((z,t,u,x),axis = 1)

india - 2
japan  - 3
switze -4
germany -1
australia - 0

australia germany india  japan switz
0          0       1       0      0
0          0       0       1      0
0          0        0      0      1

In [26]:
x.shape

(10000, 12)

In [27]:
y.shape

(10000,)

In [28]:
#split the data in to train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [29]:
x_test.shape

(2000, 12)

In [30]:
y_test.shape

(2000,)

In [31]:
x_train.shape

(8000, 12)

In [32]:
y_train.shape

(8000,)

x1  = np.array([1,2,3,4,5,6,7,8,9])
y1 = np.array([0,1,0,1,0,1,0,1,0])

from sklearn.model_selection import train_test_split
for i in range(5):
    x_train1,x_test1,y_train1,y_test1 = train_test_split(x1,y1,test_size = 0.2)
    
    print ("x_trainwithout random state for the iteration" ,i,x_train)
for i in range(5):
    x_train1,x_test1,y_train1,y_test1 = train_test_split(x1,y1,test_size = 0.2, random_state = 0)
    
    print ("x_train  with random state for the iteration" ,i,x_train)

In [32]:
x_train[:,5:10]

array([[3.4000000e+01, 5.0000000e+00, 0.0000000e+00, 2.0000000e+00,
        1.0000000e+00],
       [4.2000000e+01, 1.0000000e+00, 7.5681520e+04, 1.0000000e+00,
        1.0000000e+00],
       [2.9000000e+01, 2.0000000e+00, 1.1236734e+05, 1.0000000e+00,
        1.0000000e+00],
       ...,
       [3.5000000e+01, 5.0000000e+00, 1.6127405e+05, 2.0000000e+00,
        1.0000000e+00],
       [3.8000000e+01, 9.0000000e+00, 0.0000000e+00, 2.0000000e+00,
        1.0000000e+00],
       [4.8000000e+01, 1.0000000e+00, 1.0807633e+05, 1.0000000e+00,
        1.0000000e+00]])

In [33]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [38]:
x_train.shape

(8000, 12)

In [36]:
import keras
from keras.layers import Dense
from keras.models import Sequential

Using TensorFlow backend.
C:\Users\prads\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\prads\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [37]:
model = Sequential()

WARNING:tensorflow:From C:\Users\prads\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [39]:
model.add(Dense(units = 12, init = "random_uniform",activation = "relu"))

C:\Users\prads\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=12, activation="relu", kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

In [40]:
model.add(Dense(units = 24, init = "random_uniform",activation = "relu"))

C:\Users\prads\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=24, activation="relu", kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

In [41]:
model.add(Dense(units = 1, init = "random_uniform",activation = "sigmoid"))

C:\Users\prads\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(units=1, activation="sigmoid", kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

In [44]:
model.compile(optimizer = "adam",loss = "binary_crossentropy", metrics = ["accuracy"])

WARNING:tensorflow:From C:\Users\prads\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\prads\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [45]:
model.fit(x_train,y_train,batch_size = 32 , epochs = 500 )

WARNING:tensorflow:From C:\Users\prads\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/100
8000/8000 [==============================] - 3s 404us/step - loss: 0.5161 - acc: 0.7959
Epoch 2/100
8000/8000 [==============================] - 1s 83us/step - loss: 0.4296 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 80us/step - loss: 0.4213 - acc: 0.8147
Epoch 4/100
8000/8000 [==============================] - 1s 89us/step - loss: 0.4150 - acc: 0.8277
Epoch 5/100
8000/8000 [==============================] - 1s 80us/step - loss: 0.4101 - acc: 0.8321
Epoch 6/100
8000/8000 [==============================] - 1s 78us/step - loss: 0.4070 - acc: 0.8335
Epoch 7/100
8000/8000 [==============================] - 1s 83us/step - loss: 0.4042 - acc: 0.8348
Epoch 8/100
8000/8000 [==============================] - 1s 77us/step - loss: 0.4029 - acc: 0.8350
Epoch 9/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.4006 - acc: 0.8365
Epoch 10/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3993 - acc: 0.8363
Epoch 11/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.3981 - acc: 0.8371
Epoch 12/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3972 - acc: 0.8381
Epoch 13/100
8000/8000 [==============================] - 1s 82us/step - loss: 0.3956 - acc: 0.8369
Epoch 14/100
8000/8000 [==============================] - 1s 76us/step - loss: 0.3958 - acc: 0.8377
Epoch 15/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3947 - acc: 0.8384
Epoch 16/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3943 - acc: 0.8382
Epoch 17/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3933 - acc: 0.8364
Epoch 18/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3937 - acc: 0.8376
Epoch 19/100
8000/8000 [==============================] - 1s 72us/step - loss: 0.3925 - acc: 0.8392
Epoch 20/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3922 - acc: 0.8390
Epoch 21/100
8000/8000 [==============================] - 1s 71us/step - loss: 0.3913 - acc: 0.8402
Epoch 22/100
8000/8000 [==============================] - 1s 69us/step - loss: 0.3905 - acc: 0.8400
Epoch 23/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3890 - acc: 0.8401
Epoch 24/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3863 - acc: 0.8431
Epoch 25/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3818 - acc: 0.8440
Epoch 26/100
8000/8000 [==============================] - 1s 76us/step - loss: 0.3751 - acc: 0.8446
Epoch 27/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3667 - acc: 0.8499
Epoch 28/100
8000/8000 [==============================] - 1s 88us/step - loss: 0.3606 - acc: 0.8525
Epoch 29/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3564 - acc: 0.8531
Epoch 30/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3526 - acc: 0.8569
Epoch 31/100
8000/8000 [==============================] - 1s 79us/step - loss: 0.3505 - acc: 0.8561
Epoch 32/100
8000/8000 [==============================] - 1s 79us/step - loss: 0.3492 - acc: 0.8570
Epoch 33/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3479 - acc: 0.8582
Epoch 34/100
8000/8000 [==============================] - 1s 77us/step - loss: 0.3461 - acc: 0.8571
Epoch 35/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3443 - acc: 0.8586
Epoch 36/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3442 - acc: 0.8580
Epoch 37/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3430 - acc: 0.8591
Epoch 38/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3427 - acc: 0.8578
Epoch 39/100
8000/8000 [==============================] - 1s 82us/step - loss: 0.3410 - acc: 0.8608
Epoch 40/100
8000/8000 [==============================] - 1s 75us/step - loss: 0.3406 - acc: 0.8595
Epoch 41/100
8000/8000 [==============================] - 1s 71us/step - loss: 0.3397 - acc: 0.8598
Epoch 42/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3387 - acc: 0.8591
Epoch 43/100
8000/8000 [==============================] - 1s 70us/step - loss: 0.3390 - acc: 0.8615
Epoch 44/100
8000/8000 [==============================] - 1s 67us/step - loss: 0.3383 - acc: 0.8621
Epoch 45/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3377 - acc: 0.8629
Epoch 46/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3374 - acc: 0.8631
Epoch 47/100
8000/8000 [==============================] - 1s 65us/step - loss: 0.3376 - acc: 0.8591
Epoch 48/100
8000/8000 [==============================] - 1s 65us/step - loss: 0.3368 - acc: 0.8631
Epoch 49/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3368 - acc: 0.8624
Epoch 50/100
8000/8000 [==============================] - 1s 64us/step - loss: 0.3365 - acc: 0.8635
Epoch 51/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3364 - acc: 0.8616
Epoch 52/100
8000/8000 [==============================] - 1s 73us/step - loss: 0.3349 - acc: 0.8619
Epoch 53/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3350 - acc: 0.8650
Epoch 54/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3358 - acc: 0.8639
Epoch 55/100
8000/8000 [==============================] - 0s 54us/step - loss: 0.3365 - acc: 0.8639
Epoch 56/100
8000/8000 [==============================] - 0s 56us/step - loss: 0.3345 - acc: 0.8644: 0s - loss: 0.3513 - acc
Epoch 57/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3340 - acc: 0.8625
Epoch 58/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3345 - acc: 0.8646
Epoch 59/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3332 - acc: 0.8647
Epoch 60/100
8000/8000 [==============================] - 0s 59us/step - loss: 0.3341 - acc: 0.8629
Epoch 61/100
8000/8000 [==============================] - 0s 56us/step - loss: 0.3336 - acc: 0.8650
Epoch 62/100
8000/8000 [==============================] - 0s 60us/step - loss: 0.3327 - acc: 0.8654
Epoch 63/100
8000/8000 [==============================] - 0s 61us/step - loss: 0.3337 - acc: 0.8635: 0s - loss: 0.3405 - acc:
Epoch 64/100
8000/8000 [==============================] - 0s 61us/step - loss: 0.3343 - acc: 0.8644
Epoch 65/100
8000/8000 [==============================] - 0s 59us/step - loss: 0.3338 - acc: 0.8651
Epoch 66/100
8000/8000 [==============================] - 0s 57us/step - loss: 0.3324 - acc: 0.8618
Epoch 67/100
8000/8000 [==============================] - 0s 60us/step - loss: 0.3334 - acc: 0.8640
Epoch 68/100
8000/8000 [==============================] - 1s 68us/step - loss: 0.3330 - acc: 0.8626
Epoch 69/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3324 - acc: 0.8638
Epoch 70/100
8000/8000 [==============================] - 0s 61us/step - loss: 0.3316 - acc: 0.8620
Epoch 71/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3321 - acc: 0.8628
Epoch 72/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3319 - acc: 0.8641
Epoch 73/100
8000/8000 [==============================] - 0s 59us/step - loss: 0.3321 - acc: 0.8626
Epoch 74/100
8000/8000 [==============================] - 0s 59us/step - loss: 0.3318 - acc: 0.8628
Epoch 75/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3329 - acc: 0.8620
Epoch 76/100
8000/8000 [==============================] - 0s 57us/step - loss: 0.3323 - acc: 0.8629
Epoch 77/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3309 - acc: 0.8626
Epoch 78/100
8000/8000 [==============================] - 0s 57us/step - loss: 0.3325 - acc: 0.8615
Epoch 79/100
8000/8000 [==============================] - 0s 55us/step - loss: 0.3324 - acc: 0.8639
Epoch 80/100

8000/8000 [==============================] - 0s 50us/step - loss: 0.3310 - acc: 0.8644
Epoch 81/100
8000/8000 [==============================] - 0s 48us/step - loss: 0.3308 - acc: 0.8631
Epoch 82/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.3310 - acc: 0.8625
Epoch 83/100
8000/8000 [==============================] - 0s 48us/step - loss: 0.3311 - acc: 0.8634
Epoch 84/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.3314 - acc: 0.8639
Epoch 85/100
8000/8000 [==============================] - 0s 48us/step - loss: 0.3305 - acc: 0.8660
Epoch 86/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.3306 - acc: 0.8671
Epoch 87/100
8000/8000 [==============================] - 0s 58us/step - loss: 0.3314 - acc: 0.8642
Epoch 88/100
8000/8000 [==============================] - 0s 57us/step - loss: 0.3314 - acc: 0.8665
Epoch 89/100
8000/8000 [==============================] - 0s 49us/step - loss: 0.3309 - acc: 0.8651
Epoch 90/100
8000/8000 [==============================] - 1s 63us/step - loss: 0.3312 - acc: 0.8655
Epoch 91/100
8000/8000 [==============================] - 1s 74us/step - loss: 0.3302 - acc: 0.8645
Epoch 92/100
8000/8000 [==============================] - 1s 76us/step - loss: 0.3303 - acc: 0.8642
Epoch 93/100
8000/8000 [==============================] - 1s 78us/step - loss: 0.3307 - acc: 0.8615
Epoch 94/100
8000/8000 [==============================] - 1s 64us/step - loss: 0.3303 - acc: 0.8647
Epoch 95/100
8000/8000 [==============================] - 0s 62us/step - loss: 0.3304 - acc: 0.8634
Epoch 96/100
8000/8000 [==============================] - 1s 66us/step - loss: 0.3292 - acc: 0.8644
Epoch 97/100
8000/8000 [==============================] - 0s 60us/step - loss: 0.3301 - acc: 0.8663
Epoch 98/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.3304 - acc: 0.8639
Epoch 99/100
8000/8000 [==============================] - 0s 50us/step - loss: 0.3301 - acc: 0.8639
Epoch 100/100
8000/8000 [==============================] - 0s 62us/step - loss: 0.3291 - acc: 0.8673

In [46]:
y_pred  = model.predict(x_test)

In [47]:
y_pred

array([[0.26866943],
       [0.34445632],
       [0.05451933],
       ...,
       [0.16910413],
       [0.16399509],
       [0.2202017 ]], dtype=float32)

In [48]:
y_pred = (y_pred > 0.5)

In [49]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [50]:
y_test

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [51]:
dataset.head(1)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,0,0,42,2,0.0,1,1,1,101348.88,1

In [58]:
y_p = model.predict(sc.transform(([[1,0,0,619,0,42,8,12345,1,1,1,1234567]])))

In [59]:
y_p

array([[0.03462954]], dtype=float32)

In [60]:
y_p = y_p>0.5

In [61]:
y_p

array([[False]])

In [62]:
to increasee the aaccurracy 
add more hidden layers
add more epochs

SyntaxError: invalid syntax (<ipython-input-62-ec7b76e54628>, line 1)

In [63]:
import keras 
keras.__version__

'2.2.4'

In [64]:
import tensorflow 
tensorflow.__version__

'1.14.0'